html, body{
    margin: 0;
    padding: 0;
}
    .haut{
        background-image: url("1d5bc84f-2135-4e2f-8ca6-bb000d97db7f.jpg");
        height: 100vh;
}

.bandeau{

    background-color: rgba(73, 28, 16, 0.5);


}
.titre{
    text-align: center;
    font-size:100px ;
}   